<div class="container">

	<h1>Editing World</h1>

	<%= render 'form', world: @world %>

	<%= link_to 'Show', @world, class:"btn btn-light" %> 
	
	<%= link_to 'Back', worlds_path, class:"btn btn-light" %>

</div>