<div class="jumbotron">
	<div class="container">
		<%= image_tag 'logo.png' %>
		<p>Rules, characters and game field.</p>
		<br></br>
		<h2>RIP of the Week:</h2>
		<p>Rody the Brave.</p>
		<p>Killed by a lucky goblin.</p>
	</div>
</div>
